  </body>
  
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <div class="copywrite">
          © 2017 BradRumack.com <br>
          License #ABC12345000 <br>
        </div>
        <div class="icons">
          <a href="https://www.instagram.com/firecitydev/" target="_blank"><img class="icon" src="assets/images/icons/instagram-256.png"></a>
          <a href="https://www.linkedin.com/in/bradleyrumack/" target="_blank"><img class="icon" src="assets/images/icons/linkedin-256.png"></a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>