  </body>
  
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <div class="copywrite">
          © 2017 RickRumack.com <br>
          License #SA625213000 <br>
          Designed by <a href="http://www.lawebwerks.com">LA Web Werks</a>
        </div>
        <div class="icons">
          <a href="http://on.fb.me/eVssFy" target="_blank"><img class="icon" src="assets/images/icons/facebook-256.png"></a>
          <a href="http://twitter.com/rickkr" target="_blank"><img class="icon" src="assets/images/icons/twitter-256.png"></a>
          <a href="http://www.linkedin.com/in/rickrumack" target="_blank"><img class="icon" src="assets/images/icons/linkedin-256.png"></a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>