<!-- Dropdown Structure -->
<ul id="about" class="dropdown-content">
	<li><a href="/about">About Me</a></li>
	<!--<li><a href="/reviews">Testimonials</a></li>-->
	<li><a href="/contact">Contact</a></li>
</ul>
<ul id="services" class="dropdown-content">
	<li><a href="/mls">MLS Search</a></li>
	<li><a href="/buying">Buying</a></li>
	<li><a href="/selling">Selling</a></li>
	<li><a href="/mortgages">Mortgages</a></li>
	<li><a href="/short-sale">What's A Short Sale?</a></li>
</ul>
<ul id="about-mobile" class="dropdown-content">
	<li><a href="/about">About Me</a></li>
	<!--<li><a href="/reviews">Testimonials</a></li>-->
	<li><a href="/contact">Contact</a></li>
</ul>
<ul id="services-mobile" class="dropdown-content">
	<li><a href="/buying">Buying</a></li>
	<li><a href="/selling">Selling</a></li>
	<li><a href="/mortgages">Mortgages</a></li>
	<li><a href="/short-sale">What's A Short Sale?</a></li>
</ul>
<nav>
	<div class="container">
		<div class="nav-wrapper">
			<img class="hide-on-med-and-down headshot" src="assets/images/headshot.jpg" />
			<a href="/"><img src="assets/images/img-logo.png" class="brand-logo"/></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"
				><i style="color:black" class="material-icons">menu</i></a
			>
			<ul class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="services">Services</a></li>
				<li><a href="current-market">Current Market</a></li>
				<li><a href="news">News</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="about">About Me</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/">Home</a></li>
				<li>
					<a class="dropdown-button" href="#!" data-activates="services-mobile"
						>Services<i class="material-icons right">arrow_drop_down</i></a
					>
				</li>
				<li><a href="current-market">Current Market</a></li>
				<li><a href="news">News</a></li>
				<li>
					<a class="dropdown-button" href="#!" data-activates="about-mobile"
						>About Me<i class="material-icons right">arrow_drop_down</i></a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
