<% include partials/header %>
<% include partials/nav %>
<main class="page-background buying">
    <div class="container pannel">
        <div class = "container">
            <div class="row">
                <div class="col s12">
                    <h2>
                        Buying a Home
                    </h2>
                    <hr>
                    <p>
                        <img src="assets/images/house1.jpg">
                        Buying a home is an exciting and complex adventure. It can also be a very time-consuming and costly one 
                        if you're not familiar with all aspects of the process, and don't have all the best information and resources 
                        at hand. One of my specialties is representing the best interests of East Valley area buyers throughout the 
                        home buying process. My comprehensive, high-quality services can save you time and money, as well as make the 
                        experience more enjoyable and less stressful.If you're like most people, buying a home is the biggest investment 
                        you will ever make. So whether you're buying a starter home, your dream home or an investment property, why not 
                        take advantage of my experience as a local market expert for the East Valley to make the most informed decisions 
                        you can, every step of the way?
                    </p>
                </div>
            </div>
            <hr>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">map</i>Choose a Neighborhood</div>
                  <div class="collapsible-body">
                        <span> 
                            Narrow your home search by identifying neighborhoods that are right for you. 
                            This helps keep your search focused and efficient. Your local REALTOR® can offer 
                            neighborhood information to guide you in your search.
                            When evaluating a neighborhood you should investigate local conditions. Depending on 
                            your own particular needs and tastes, some of the following factors may be more 
                            important considerations than others:
                        </span>
                        <ul class="collection">
                            <li class = "collection-item">Quality of schools</li>
                            <li class = "collection-item">Property values</li>
                            <li class = "collection-item">Traffic</li>
                            <li class = "collection-item">Crime rate</li>
                            <li class = "collection-item">Future construction</li>
                            <li class = "collection-item">Proximity to important locations like schools, hospitals, shopping and your place of business</li>
                            <li class = "collection-item">Future construction</li>
                        </ul>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">home</i>Choose a Home</div>
                  <div class="collapsible-body">
                      <span> 
                            Once you've settled on a couple of preferred neighborhoods for your home search, 
                            it's time to pick out a few homes to view. Having a house features “wish list” 
                            keeps you focused on which features are most important to you.
                            When narrowing down your home search, consider the following:
                        </span>
                        <ul class="collection">
                            <li id="type" class = "collection-item">Know what types of home you want to buy.</li>
                            <li id="age" class = "collection-item">Determine what age and condition of the house you want to buy.</li>
                            <li id="resale" class = "collection-item">Consider resale potential.</li>
                            <li id="features" class = "collection-item">Use a features wish list to keep focused.</li>
                            <li id="comparison" class = "collection-item">Use a home search comparison chart to keep organized.</li>
                            <li id="act" class = "collection-item">Act decisively when you find the right home.</li>
                        </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">search</i>Schedule a Home Inspection</div>
                  <div class="collapsible-body">
                      <span> 
                            Why is a home inspection a must?
                        </span>
                        <ul class="collection">
                            <li id="inspection" class = "collection-item">Home inspections help you avoid unpleasant surprises.</li>
                            <li id="educate" class = "collection-item">An Inspection will educate you about Your house.</li>
                            <li id="expect" class = "collection-item">What to expect.</li>
                        </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">monetization_on</i>Make an offer</div>
                  <div class="collapsible-body">
                      <span> 
                            A written proposal is the foundation of a real estate transaction. Oral promises are not 
                            legally enforceable when it comes to the sale of real estate. Therefore, you need to enter 
                            into a written contract, which starts with your written proposal. This proposal not only 
                            specifies price, but also all the terms and conditions of the purchase. For example, if the 
                            seller offered to help with $2,000 toward your closing costs, make sure that's included in 
                            your written offer and in the final completed contract, or you won't have grounds for collecting 
                            it later.
                            What is in an Offer?
                        </span>
                        <ul class="collection">
                            <li class = "collection-item">Address and the legal description of the property</li>
                            <li class = "collection-item">Sale price</li>
                            <li class = "collection-item">Terms: for example, all cash or subject to you obtaining a mortgage for a given amount</li>
                            <li class = "collection-item">Seller's promise to provide clear title (ownership)</li>
                            <li class = "collection-item">Amount of earnest money deposit accompanying the offer, method of deposit, and how it's to be returned to you if the offer is rejected, or kept as damages if you back out</li>
                            <li class = "collection-item">Method by which real estate taxes, rents, fuel, water bills and utilities payments are to be adjusted (prorated) between buyer and seller</li>
                            <li class = "collection-item">Provisions about who will pay for title insurance, survey, termite inspections, etc.</li>
                            <li class = "collection-item">Type of deed to be given</li>
                            <li class = "collection-item">Other requirements specific to your state, such as a chance for an attorney to review the contract, and disclosure of specific environmental hazards or other state-specific clauses</li>
                            <li class = "collection-item">A provision that the buyer may make a last-minute walkthrough inspection of the property just before the closing</li>
                            <li class = "collection-item">A time limit (preferably short) after which the offer will expire</li>
                            <li class = "collection-item">Contingencies, which are an extremely important matter and that are discussed in detail below</li>
                        </ul>
                  </div>
                </li>
             </ul>
        </div>
    </div>
</main>
<script src="js/tooltips.js"></script>
<% include partials/footer %>