<% include partials/header %>
<% include partials/nav %>

    <div class = "hero valign-wrapper">
        <div class = "headline-box">
            <h2>Rick Rumack</h2>
            <h1>Your Real Estate Expert</h1>
            <h4>Southeast Valley - Phoenix, AZ</h4>
            <a class="btn-large waves-effect waves-light btn show-on-med-and-up hide-on-small-and-down" href="/contact"><i class="material-icons left">home</i>I Need an Agent</a>
            <a class="btn-small waves-effect waves-light btn hide-on-med-and-up" href="/contact"><i class="material-icons left">home</i>I Need an Agent</a>
        </div>
    </div
    
<% include partials/footer %>
