<% include partials/header %>
<% include partials/nav %>

<main class="page-background">
        <div class = "container reviews">
            <h1>Testimonials</h1>
            <h5>There are many things I can say about the high quality of service I provide to my home seller and home buyer clients, but
            none would be as credible as testimonials from some of my recent clients themselves.</h5>
            <hr>
            <div class="card horizontal review left">
              <div class="card-stacked">
                <div class="card-content">
                  <p>"I personally recommend Jason to anybody thinking of selling or buying a house. Jason is a seasoned veteran and is an expert at his profession."</p>
                </div>
                <div class="card-action">
                  <p>- Alan O.  Gilbert, AZ</p>
                </div>
              </div>
            </div>
            <div class="card horizontal review right">
              <div class="card-stacked">
                <div class="card-content">
                  <p>"I appreciate the good work you did in selling my mother's house and it was a pleasure doing business with you and getting to know you."</p>
                </div>
                <div class="card-action">
                  <p>- Tom, Chandler AZ</p>
                </div>
              </div>
            </div>
            <div class="card horizontal review left">
              <div class="card-stacked">
                <div class="card-content">
                  <p>"Jason did a great job selling our house. He was on top of the details and it went smoothly."s</p>
                </div>
                <div class="card-action">
                  <p>- Rick E, Chandler AZ</p>
                </div>
              </div>
            </div>
            <div class="card horizontal review right">
              <div class="card-stacked">
                <div class="card-content">
                  <p>My family and I relocated to California, but did not know any Realtors in our destination city. I wanted someone like Jason, who I knew had both 
                  experience and impeccable integrity. Jason interviewed several Realtors in our new area and referred us to exactly the Realtor we needed. Thank you Jason! </p>
                </div>
                <div class="card-action">
                  <p>- Brian, Folsom CA</p>
                </div>
              </div>
            </div>
            <div class="card horizontal review left">
              <div class="card-stacked">
                <div class="card-content">
                  <p>"Mr. Martinez represented me in the recent sale of a home in gilbert. Although I live in Tucson, making this a long distance transaction, the entire process 
                  was handed with the utmost efficiency. There were multiple offers with a wide variety of terms and conditions. The spread sheet he provided made it possible to 
                  conveniently compare all of them. Most impressively, Mr. Martinez kept in constant telephone and e-mail contact with updates and progress reports throughout the 
                  entire process leading to a usccessful closing. I am happy to recommend him to anyone wishing for results and a positive outcome.</p>
                </div>
                <div class="card-action">
                  <p>- David, Tucson AZ</p>
                </div>
              </div>
            </div>
            <div class="card horizontal review right">
              <div class="card-stacked">
                <div class="card-content">
                  <p>We are so appreciative of your efforts to help get our property sold and patience with that yahoo of a tenant I had. I am happy to hear there will be peace 
                  in the valley again. We will keep you in mind for any real estate needs in AZ. We run across them from time to time with our database. </p>
                </div>
                <div class="card-action">
                  <p>- Tony, Los Alamitos CA</p>
                </div>
              </div>
            </div>
    </div>
</main>
</main><% include partials/footer %>