<% include partials/header %>
<% include partials/nav %>

<main class="page-background selling">
    <div class="container pannel">
        <div class = "container">
            <div class="row">
                <div class="col s12">
                    <h2>
                        Selling Your Home
                    </h2>
                    <hr>
                    <p>
                        <img src="assets/images/forsale.jpg">
                        For most families, their home is their largest financial asset, and deciding to sell it is a big decision 
                        that involves a lot of preparation and work. When you're ready to sell it's important to have an experienced 
                        real estate professional handle the details involved in the successful sale of a home for top dollar.
                        As an experienced professional who has helped many East Valley residents sell their homes, I know how to 
                        handle every aspect of the sales process - from strategically marketing and showcasing your home to making 
                        sure everything's signed, sealed and delivered by the closing date.
                    </p>
                </div>
            </div>
            <hr>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">monetization_on</i>Setting a Listing Price for Your Home</div>
                  <div class="collapsible-body">
                        <span> 
                            Setting the list price for your home involves evaluating various market conditions and financial factors. 
                            During this phase of the home selling process, your REALTOR® will help you set your list price based on:
                        </span>
                        <ul class="collection">
                            <li id="pricing" class = "collection-item tooltip">Pricing Considerations – Find a Balance Between Too High and Too Low</li>
                            <li id="comparable" class = "collection-item tooltip">Price Against Comparable Sales in Your Neighborhood</li>
                            <li id="conditions" class = "collection-item tooltip">Market Conditions – Is it a Buyer’s Market or a Seller’s Market?</li>
                            <li id="schedule" class = "collection-item tooltip">Set a Schedule for Lowering the Price if Necessary</li>
                            <li id="incentives" class = "collection-item tooltip">Offering Incentives to Hasten a Sale</li>
                            <li id="estimating" class = "collection-item tooltip">Estimating Net Proceeds</li>
                        </ul>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">monochrome_photos</i>Marketing Your Home</div>
                  <div class="collapsible-body">
                      <span> 
                            Your REALTOR®’s marketing efforts and considerations will include advertising, showing the property, 
                            how long the house has been on the market and whether you're buying another home. Your home should be 
                            listed, whenever possible, through a Multiple Listing Service (MLS).
                        </span>
                        <ul class="collection">
                            <li id="advertising" class = "collection-item tooltip">Advertising and Promotion</li>
                            <li id="showings" class = "collection-item tooltip">Showings and Open Houses</li>
                            <li id="long" class = "collection-item tooltip">How long has your house been on the market?</li>
                            <li id="another" class = "collection-item tooltip">Are You Buying Another Home?</li>
                        </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">people</i>Showing Your Home to Buyers</div>
                  <div class="collapsible-body">
                      <span> 
                            A house that "sparkles" on the surface will sell faster than its shabby neighbor,
                            even though both are structurally well maintained.
                            From experience, REALTORS® also know that a "well-polished" house appeals to more buyers
                            and will sell faster and for a higher price. Additionally, buyers feel more comfortable purchasing
                            a well-cared for home because if what they can see is well maintained, they assume that what
                            they can't see has probably also been well maintained. In readying your house for sale, consider:
                        </span>
                        <ul class="collection">
                            <li id="spend"class = "collection-item tooltip">How much should you spend to prepare your house for sale?</li>
                            <li id="exterior" class = "collection-item tooltip">Exterior and Curb Appeal</li>
                            <li id="interior" class = "collection-item tooltip">Interior Appeal</li>
                        </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">person_add</i>Hiring a Realtor</div>
                  <div class="collapsible-body">
                         <span> 
                            A house that "sparkles" on the surface will sell faster than its shabby neighbor, even though 
                            both are structurally well maintained. From experience, REALTORS® also know that a "well-polished" 
                            house appeals to more buyers and will sell faster and for a higher price. Additionally, buyers feel 
                            more comfortable purchasing a well-cared for home because if what they can see is well maintained, 
                            they assume that what they can't see has probably also been well maintained. In readying your house 
                            for sale, consider:
                        </span>
                        <ul class="collection">
                            <li class = "collection-item">Address and the legal description of the property</li>
                            <li class = "collection-item">Sale price</li>
                            <li class = "collection-item">Terms: for example, all cash or subject to you obtaining a mortgage for a given amount</li>
                            <li class = "collection-item">Seller's promise to provide clear title (ownership)</li>
                            <li class = "collection-item">Amount of earnest money deposit accompanying the offer, method of deposit, and how it's to be returned to you if the offer is rejected, or kept as damages if you back out</li>
                            <li class = "collection-item">Method by which real estate taxes, rents, fuel, water bills and utilities payments are to be adjusted (prorated) between buyer and seller</li>
                            <li class = "collection-item">Provisions about who will pay for title insurance, survey, termite inspections, etc.</li>
                            <li class = "collection-item">Type of deed to be given</li>
                            <li class = "collection-item">Other requirements specific to your state, such as a chance for an attorney to review the contract, and disclosure of specific environmental hazards or other state-specific clauses</li>
                            <li class = "collection-item">A provision that the buyer may make a last-minute walkthrough inspection of the property just before the closing</li>
                            <li class = "collection-item">A time limit (preferably short) after which the offer will expire</li>
                            <li class = "collection-item">Contingencies, which are an extremely important matter and that are discussed in detail below</li>
                        </ul>
                  </div>
                </li>
             </ul>
        </div>
    </div>
</main>
<script src="js/tooltips.js"></script>
<% include partials/footer %>