<% include partials/header %>
<% include partials/nav %>


<main class="page-background">
    <div class="container pannel">
        <div class = "container shortsale">
            <h2>
                What's a Short Sale?
            </h2>
            <p>
                Check out this series of short videos that explains Short Sales and many of the associated terminology.  
                If I can answer any questions for you about them or you are interested in perhaps pursuing a short sale, please give me a call.
            </p>
            <hr>
            <div class="row">
                <div class="col s12">
                    <div class="video-container">
                        <iframe class="video" src="https://www.youtube.com/embed/49sS88Cbsc8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include partials/footer %>